  body {
  	background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
  	color: #28a745;
  }
  
  header {
  	background: #283d2674;
  	width: 90%;
  	height: 80px;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 0 0 15px rgba(40,61,38,0.15);
  	padding: 10px;
  	margin: 20px;
  	align-items: center;
  	justify-content: center;
  }
  
  .box {
  	background: #283d2674;
  	width: 90%;
  	height: 80px;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 0 0 15px rgba(40,61,38,0.15);
  	padding: 10px;
  	margin: 20px;
  	align-items: center;
  	justify-content: center;
  	display: flex;
  }
  
  .start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .start-button:hover {
    background-color: #218838;
  }
  
  .container {
  position: absolute;
  top: 20%; /* changed：to : */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: absolute;
  background: transparent;
  width: calc(var(--i)* 2.5vmin);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(0, 255, 13);
  transform-style: preserve-3d;
  transform: rotateX(70deg) translateZ(50px);
  animation: animate 3s ease-in-out calc(var(--i)* 0.08s) infinite;
  box-shadow:0 0 15px rgb(124， 124, 124), inset 0 0 15px rgb(124, 124, 124);
}
@keyframes animate {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    transform: rotateX(70deg) translateZ(50px) translateY(0);
    filter: hue-rotate(360deg);
  }
  50% {
    transform: rotateX(70deg) translateZ(50px) translateY(-120vmin); /* changed -5vmin to -15vmin */
  }
}